<main class="container mt-3 mb-3">
    <div id="error403" style="display: none;">
        <p>403</p>
        <span></span>
    </div>
    <textarea class="form-control" id="content" disabled></textarea>
    <span id="urlShare" class="mt-2"></span>
</main>
<script src="/js/scriptShare.js"></script>