<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ghi chú trực tuyến, ghi chú online - Nơi lưu trữ ghi chú của bạn, bảo mật tuyệt đối, sử dụng dễ dàng, an toàn, tiện lợi, nhanh chóng và đặc biệt hoàn toàn miễn phí.">
    <link rel="shortcut icon" href="/img/logo2.png">
    <title>NoteText trực tuyến</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

</html>